tensorflow-macos>=2.16.2  # For Mac users
tensorflow>=2.16.2        # For non-Mac users
numpy>=1.26.4
matplotlib>=3.10.0
h5py>=3.12.1
jupyter>=1.1.1
tensorflow-io-gcs-filesystem>=0.37.1
tensorflow-metal>=1.2.0   # For Mac M1/M2 users
ipykernel>=6.29.5
Flask>=2.3.0
requests>=2.31.0
python-dateutil>=2.8.2